{% extends "layout.html" %}
{% block content %}
  <div class="home">
    <h1>My first* Flask site.</h1>
    <p>I'm leaning to use Flask, neat! See <b><i>about</i></b> section for further details.</p>
    <br>

    <p>
	For questions/comments, send me
	<a href="mailto:mkent2496@scrippscollege.edu?Subject=website%20email" target="_top"> an email</a>!
	</p>
    
    <br>
    <br>
    
    <a href="/exec"> This link will invoke Hello2 method - see the debugger for proof </a>

    <br>
    <br>
    <br>
    <br>

    <h6><i>*although this is like iteration 1.6 or something. Not really the "first."</i></h6>
  
  </div>
{% endblock %}